[submodule "MySensors"]
	path = MySensors
	url = https://github.com/mysensors/MySensors.git
[submodule "NodeManager"]
	path = NodeManager
	url = https://github.com/Xedecimal/NodeManager.git
[submodule "Xedecimal"]
	path = Xedecimal
	url = https://github.com/Xedecimal/Sketches-Libraries-Xedecimal.git
[submodule "SimpleDHT"]
	path = SimpleDHT
	url = https://github.com/winlinvip/SimpleDHT.git
[submodule "MQ-2-sensor-library"]
	path = MQ-2-sensor-library
	url = https://github.com/labay11/MQ-2-sensor-library.git
